<%- include('header'); -%>
<div class="heroe heroe2">
    <h1>
        Press any key to start.
    </h1>
    <table class="top">
        <tr>
            <td>
                <div class="green">
                </div>
            </td>
            <td>
                <div class="red">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="yellow">
                </div>
            </td>
            <td>
                <div class="blue">
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<main class="pop">
    <button class = "close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
  <form>
    <h1 class="h3 mb-3 fw-normal">Please Create User to continue</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Username</label>
    </div>
    <div class="dropdown">
      <button class="dropbtn create" type="submit">Create User</button>
    </div>
  </form>
</main>
<%- include('footer'); -%>