<%- include('header'); -%>
<div class="heroe heroe2">
    <h1>
        Press any key to start.
    </h1>
    <table class="top">
        <tr>
            <td>
                <div class="green">
                </div>
            </td>
            <td>
                <div class="red">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="yellow">
                </div>
            </td>
            <td>
                <div class="blue">
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<main class="pop" style="height: 230px; margin-top: 50px; margin-bottom: auto;">
    <button class = "close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
  <form action = '/userLogin' method="post" >
    <h1 class="h3 mb-3 fw-normal">Login User</h1>
    <div class="form-floating">
        <input name ="user_name" type="firstName" class="form-control" id="floatingPassword" placeholder="Username">
        <label style ="font-family: Georgia, 'Times New Roman', Times, serif;" for="floatingPassword">Email</label>
    </div>
    <div>
        <div class="dropdown">
            <button style="width: 20vh; margin-left: auto; margin-right: auto; float: left; margin-bottom: 20px;" class="dropbtn create" type="submit">Login</button>
            <br/><a href="gameplay">Create User</a>
        </div>
    </div>
  </form>
</main>
<div class="highscores" style="transform: translate(-50px, -140%);">
    <table>
        <th>
            Highscores
        </th>
        <tr>
            <td>USER</td>
            <td>HIGH SCORE</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
    </table>
</div>
<%- include('footer'); -%>