<%- include('header'); -%>
<div class="heroe heroe2">
    <h1>
        Press any key to start.
    </h1>
    <table class="top">
        <tr>
            <td>
                <div class="green">
                </div>
            </td>
            <td>
                <div class="red">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="yellow">
                </div>
            </td>
            <td>
                <div class="blue">
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<div class="highscores">
    <table>
        <th>
            Highscores
        </th>
        <tr>
            <td>USER</td>
            <td>HIGH SCORE</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
        </tr>
    </table>
</div>
<%- include('footer'); -%>